<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<title>{{ site.name }} from SPECIAL TEMPLATE</title>
</head>
<body>
<header>
<center>
<h1>{{ site.name }}</h1>
<nav>
<a href="/">Home</a>
{%- for topic in site.topics %}
<a href="/{{ topic | slugify }}">{{ topic }}</a>
{%- endfor -%}
</nav>
</center>
</header>
<main>
{% if gallery %}
<script>
var images = new Array();
{%- for img in gallery %}
images[{{ loop.index0 }}] = "{{ img }}";
{%- endfor -%}
var imgCt = 0;
function change_img(dir) {
        if (dir == "next" && imgCt < images.length - 1) {
                imgCt++;
        }

        if (dir == "prev" && imgCt > 0) {
                imgCt--;
        } 

        var doc = document.getElementById("gallery");
        var img = new Image();
        img.src = images[imgCt];

        doc.replaceChildren(img);
}
</script>
<center>
<div id="gallery">
<img src="{{ gallery | first }}"/>
</div>
<button type="button" onclick="change_img('prev'); return false">❮</button>
<button type="button" onclick="change_img('next'); return false">❯</button>
</center>
{% elif post %}
{{ post }}
{% elif posts %}
{%- for post in posts %}
{{ post }}
{%- endfor -%}
{% else %}
<h3>Coming Soon!</h3>
{% endif %}
</main>
<footer>
<p>&#169; {{ site.author }}</p>
</footer>
</body>
</html>
