<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/caty.css">
<title>A Blog Example</title>
</head>
<body>
<header>
<center>
<h1>Quite Magical Really</h1>
<nav>
<a href="./">HOME</a>
</nav>
</center>
</header>

<main>
{%- for post in posts %}
{{ post }}
{%- endfor -%}
</main>

<footer>
<p>This brilliance was brought to you by.. ME</p>
</footer>
</body>
</html>
